[init]
   defaultBranch = main
[include]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/workspace/work/"]
  path = ~/.gitconfig-work
[push]
	autoSetupRemote = true
[core]
	quotepath = false
	editor = nvim
  pager = delta

[color]
	ui = auto
[remind]
	paths = /Users/mei/workspace/private/*
