[init]
   defaultBranch = main
[include]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/workspace/work/"]
  path = ~/.gitconfig-work
[push]
	autoSetupRemote = true
[core]
	quotepath = false
	editor = nvim
  pager = delta

[color]
	ui = auto
[remind]
	paths = /Users/mei/workspace/private/*
[user]
	email = you@example.com
	name = Your Name
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
